body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color:#9badc0;
}

canvas {
    position: absolute;
}
.cpy{
    display: flex;
    width: 100vw;
    align-items: self-end;
    flex-direction: column-reverse;
}
